<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
      <h4>
        <button
          class="btn btn-outline-success" (click)="back()">
          <i class="fa fa-arrow-left fa-1x" aria-hidden="true"></i>
          BACK
        </button>
        Create Video
      </h4>
      <hr>
    </div>
    <div class="col-md-12">
      <form [formGroup]="videoGroup" novalidate>
        <div class="form-group">
          <label class="center-block">Title:
            <input class="form-control" formControlName="title">
          </label>
        </div>
      </form>
      {{videoGroup.value | json}} {{videoGroup.status | json}}
    </div>
  </div>
</div>
